.homeTransition-appear {
  opacity: 0.1;
  transform: translatey(-200px);
}

.homeTransition-appear.homeTransition-appear-active {
  opacity: 1;
  transform: translatey(0px);
  transition: all 0.5s ease-in-out;
}
